extends layout

block content
  h1 Project Summary
  p.lead Create one dashboard (Portal) to see daily Accounting, Finance, bill pay, Expense and HR activities. 
  hr
  .row
    .col-md-6
      h2 Objectives
      p Developing a Website/Portal to offer one dashboard  to Small and Medium size businesses to give complete view of their Finance, accounting, payroll, Taxes, Legal and HR functions and manage it. It will help them to analyze and address profit /Loss, expense ratio and meet all the all the regulatory and compliance issue to run their organizations.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Background 
      p It has been challenging for Small and Medium size businesses to manage and view  Finance, Payroll, Payment, Expense Tracking, HR, Legal and Tax activities under one dashboard /Portal on a daily basis.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Business Drivers
      p Customers are looking for one stop solutions to take care of their accounting, payroll, HR, taxes.
           We are building scalable FinTech solutions for small and medium size businesses to meet their need backend office solutions as they grow.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Project Scope
      p We are going to built API for three main integrations by using API for QuickBooks (Accounting), Gusto (Payroll), Bank / Credit Cards, AR/AP thru Bill.com, Expensify and Just work( Professional Employer Organization).
      p
        a.btn.btn-raised(href='#', role='button') View details »